<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">FIFA 2015 Tournament</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">Tournois</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Le +</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Social</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Tournois de FIFA 2015</h1>
                <hr>
                <p>Découvre toute  les informations des prochains tournois FIFA proche de chez toi et devient le nouveau champion de ta ville en gagnant le jack-pot !</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Découvrir</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Information</h2>
                    <hr class="light">
                    <p class="text-faded">Pour s'inscrire rien de plus simple, seulement clique "s'inscrire" sur le tournoi de ton choix. Une fois le paiement accepté tu recevras par mail toute les informations ansi que ton pass pour le tournoi choisi.</p>
<!--                     <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-gamepad wow bounceIn text-primary"></i>
                        <h3>Playstation 4</h3>
                        <p class="text-muted">Console playstation blablabla</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-eye wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Pas de triche</h3>
                        <p class="text-muted">blablabla</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-users wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>32 equipe en solo</h3>
                        <p class="text-muted">possibilite de venir a deux et de changer a chaque match blablabla</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-trophy wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Prizes</h3>
                        <p class="text-muted">1- Jack-pot, 2- 1/3 du Jack-pot, 3- place rembourse</p>
                    </div>
                </div>
            </div>            
            <div class="row pad-top text-center">
                <h2 class="section-heading" id="comming_dates">Prochaine dates</h2>
                <hr class="light">
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-futbol-o wow bounceIn text-primary"></i>
                        <h3>Rennes - Parlement</h3>
                        <p class="text-muted">Lundi 15 Novembre 2015 - 19h00</p>
                        <p class="text-muted">30 Euros</p>
                        <p class="text-muted">Jack-pot: 500 Euros</p>
                        <a href="#" class="btn btn-default btn-xl">S' inscrire</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-futbol-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Paris - Montparnasse</h3>
                        <p class="text-muted">Lundi 15 Novembre 2015 - 19h00</p>
                        <p class="text-muted">40 Euros</p>
                        <p class="text-muted">Jack-pot: 800 Euros</p>
                        <a href="#" class="btn btn-default btn-xl">S' inscrire</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Le +</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-smile-o wow bounceIn text-primary"></i>
                        <h3>Cool team</h3>
                        <p class="text-muted">Nous ferons tout pour que vous soyez à l'aise blabla bla</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-beer wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>De la biere</h3>
                        <p class="text-muted">La biere c'est bon en plus de qualite et au bon prix, avec des cacahuetes yeah</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-video-camera wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Diffusion de match</h3>
                        <p class="text-muted">Jour de match, blabla</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-credit-card wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Paiement securise</h3>
                        <p class="text-muted">Paiement securise - <a href="http://www.visa.com/splisting/searchGrsp.do?companyNameCriteria=stripe">PCI-certified auditor</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
        <h2 class="section-heading text-center">Nos derniers champion !</h2>
        <hr class="light1">
            <div class="row no-gutter">
                <div class="col-lg-4">
                    <a href="#champ" class="portfolio-box">
                        <img src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/228609_219816321377177_4988600_n.jpg?oh=8fb577e1514a28cbff4f263686effd4a&oe=56C85F2E" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Roger Blabla
                                </div>
                                <div class="project-name">
                                    Rennes, 01/10/2015
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#champ" class="portfolio-box">
                        <img src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/228609_219816321377177_4988600_n.jpg?oh=8fb577e1514a28cbff4f263686effd4a&oe=56C85F2E" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Roger Blabla
                                </div>
                                <div class="project-name">
                                    Rennes, 01/10/2015
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="#champ" class="portfolio-box">
                        <img src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/228609_219816321377177_4988600_n.jpg?oh=8fb577e1514a28cbff4f263686effd4a&oe=56C85F2E" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Roger Blabla
                                </div>
                                <div class="project-name">
                                    Rennes, 01/10/2015
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa-4x fa fa-facebook"></i></br>
                    <p>Fait parti de la famille des champions</p>                    
                </div>
                <div class="col-md-4">
                    <i class="fa-4x fa fa-twitter"></i></br>
                    <p>Soit au courant des derniers vinqueur et tournois</p>                     
                </div>
                <div class="col-md-4">
                    <i class="fa-4x fa fa-envelope"></i></br>
                    <p>La newsletter, Recois les news des prochain tournois</p>              
                </div>                                
            </div>
            </br>
            <div class="row call-to-action">
                <h2>Devient le prochain champion !</h2>
                <a href="#comming_dates" id="champ" class="btn btn-default btn-xl wow tada">S' inscrire</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Un projet prive, une question blablabla</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@breizhfifa.com</a></p>
                </div>
            </div>
        </div>
    </section>